body {
	font-family: Arial, sans-serif;
	padding: 20px;
	background: #f9f9f9;
}

.posts-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

img {
	border-radius: 8px;
}